*{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', san-serif;
}
section{
  display: flex;
  position: absolute;
  z-index: 4;
}
/* Section1 */
.section1{
  width: 27vw;
  margin-right: 2%;
  margin-left: 5%;
}
.logo{
  width: 23vw;
  height: 20vh;
}
.navigation{
  margin-top: 2vh;
  width: 100%;
  height:7vh;
  background-color: #333;
  border-radius: 6px;
  display: flex;
  align-items: center;

}
.toggle{
  height:6vh;
  width:3vw;
  margin-left: 3%;

}
.cgr{
  margin-left:3%;
  color: white;


}
.submenu{
  background-color:#ececfa;
  display: block;
  padding: 4% 4%;
  border-bottom: 1px solid #a7a7ad;
  padding-left: 4%;
}
.submenu:hover{
  cursor: pointer;
  background-color: #ffffff;
}

/* Section2 */
.section2{
  width:68vw;
  display: inline-block;
}
.txtsrch{
  margin-left:18%;
  margin-top:5%;
  width:23vw;
  height:5vh;
  border:1px ridge #d5d5e6;
}
.txtsrch[placeholder]{
  padding-left:1%;
}
.btnsearch{
  width:4vw;
  height:5vh;
  background-color: : #19e5e5;
  border:0px;
}
.call-icon{
  height:4.5vh;
  margin-left:12%;

}
.tel-no{
  font-size:1.3vw;
  font-family:fantasy;
}
nav{

  margin-top:10vh;
  width:100%;
  height:2%;
  background-color:white;
  border-radius: 6px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.menuitem{
  margin-top: 1vh;
  padding: 3% 3% 3% 3%;
  text-decoration: none;
  background-color: #333;
  color: white;
  font-family: 'Lobster Two';
  font-size:1.5vw;
  box-shadow: 10px 15px 50px black;
}
.menuitem:hover{
  background-color: #1d9550;


}
.slider{
  background-color: #ececfa;
  width:65vw;
  height:52vh;
  margin-top:7%;
  overflow:hidden;
  margin-top: 15vh;
}
.slider .slides{
   width: 200vw;
   height:56vh;
   display:flex;

}
.slide1{
  width: 68vw;
  height:56vh;

}
.slide1 .img1{
    width: 35vw;
    height: 52vh;
    display:inline-block;
    margin-top: 0%;
}
.slide1 .img2{
  width: 35vw;
  height: 52vh;

}
.slide1 .img3{
  width: 36vw;
  height: 52vh;
}
.constant{
  position: absolute;
  width: 26vw;
  height: 52vh;
  margin-left: 36vw;
}
.constant h1{
  margin-top: 10vh;
  color:#19e5e5;
}
.constant p{
  font-family: 'Pacifico';
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.constant .btnshopnow{
  padding: 4%;
  color: white;
  background-color: #313030;
  border-radius: 10px;
}
.content1{
  width:100%;
  height:30vh;
  margin-top:5vh;
  display:flex;
}
.content1 .inner1{
  width: 50%;
  height: 100%;
  text-align: right;
  border: 1px solid #afafaf;
}
.content1 .inner1 .img1{
  width:20vw;
  height:35vh;
}
.content1 .inner2{
  width: 50%;
  height: 100%;
  text-align: right;
  border:1px solid #afafaf;
  border-left: none;
}
.content1 .inner2 .img2{
  width: 15vh;
  height:35vh;
}
.innertitle1{
  position: absolute;
  width: 16vw;
  height: 30%;
  text-align: center;
  margin-left: 1%;
}
.innertitle2{
  position: absolute;
   width: 20vw;
   height: 30%;
   margin-left: 38%;
   text-align: center;
}
.innertitle1 , .innertitle2{
  margin-top: 2%;
}
.content1 h3{
  color:#04bfbf;
}
.content1 .para1{
  font-family: 'Pacifico';

}
.featuredpara{
  margin-top: 7vh;
  margin-bottom: 3vh;
  padding: 2vh 66vw 3vw 4vh;
  background-color: #ececfa;
}
.products{
  width: 68vw;
  height: 58vh;
  display: flex;
  text-decoration-line: none;

}
.products fieldset{
  width: 15vw;
  padding-left: 2vw;
  padding-right: 1vw;
  padding-top: 4vh;
  border: 1px solid #afafaf;
text-decoration-line: none;
}
legend{
  padding: 6% 3% 3% 3%;
  background-color: black;
  color:white;
  width:3vw;
  text-decoration-line: none;
}
.products .col1 , col2{
  margin-right: 3vw;
}
.products .col1 .img1{
  width: 17vw;
  height: 20vh;

}
.products .col2 .img1{
  width: 11vw;
  height: 20vh;
  padding-left: 14%;

}
.products .col3 .img1{
  width: 13vw;
  height: 20vh;
  padding-left: 5%;
}
.products h3{
  padding-top: 5vh;
  color: #04bfbf;
  text-decoration-line: none;
}
.products strike{
  font-size: 1vw;
  padding-left: 3%;

}
